.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: rgb(238, 238, 238); */
  /* background-color: rgb(19, 226, 0); */
  background-color: rgb(243, 243, 243);
  position: fixed;
  width: 84.7%;
  height: fit-content;
}
.header a{
    padding: 10px;
    background-color: rgb(0, 194, 0);
    border: none;
    border-radius: 10px;
    font-size: 12px;
    color: white;
     
}
.header a:hover{
    cursor: pointer;
    background-color: limegreen;
}
.title {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 54px 10px 3px 5px;
  background-color: rgb(255, 255, 255);
  /* background-color: var(--primary-color); */
  /* background-color: rgb(255, 255, 255); */
  font-size: 14px;
  border-radius: 3px;
  /* width: 100%; */
  position: fixed;
  width: 84%;
  border: 1px solid rgb(0, 0, 0);

}
.dataContainer{
   display: flex;
   flex-direction: column;
   /* position: fixed; */
   /* width: 84.7%; */
   width: 100%;
   margin-top: 95px;
   /* overflow-x: scroll; */
   /* background-color: chartreuse; */
   background-color: rgb(243, 243, 243);

}
.data {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin: 3px 6px;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid rgb(138, 138, 138); */
  border-radius: 3px;
  width: 99%;
  font-size: 14px;


}
.SN {
  width: 3%;
  /* background-color: aqua; */
  text-align: center;
}
.Image {
  width: 12%;
  /* background-color: rgb(238, 255, 0); */
  text-align: center;
}
.Title {
  width: 30%;
  /* background-color: rgb(102, 255, 0);  */
  text-align: left;
}
.Weight {
  width: 15%;
  /* background-color: rgb(255, 17, 0);  */
  text-align: center;
}
.Price {
  width: 10%;
  /* background-color: rgb(0, 247, 255);  */
  text-align: center;
}
.Stock {
  width: 10%;
  /* background-color: rgb(0, 60, 255);   */
  text-align: center;
}
.Status {
  width: 10%;
  /* background-color: rgb(255, 0, 179);  */
  text-align: center;
}
/* .Action {
  width: 10%;
  /* background-color: rgb(195, 0, 255); */
  /* text-align: center; */
 /* */

.Action {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  height: fit-content;
  /* background-color: rgb(195, 0, 255); */
  text-align: center;
  cursor: pointer;
}
.Action span:hover{
 
  transform: scale(1.1);
}
.Action button{
  border: none;
  background: transparent;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}